

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*body{
	margin-right: 30px;
}*/

/*header{
	background-color: #FFFFCC;
}*/

header{
  background-image: url(../img/leaves.png);
  height:164px;
}



header h1{
	text-align: center;
}

img{
	width: 300px;
	height:230px;
	text-align: center;
	margin-left: 119px;

}


h2{
	text-align: center;
}

p{
	text-align: center;
}

.body-content {
	background-color: #FFFF99;
	height:600px;
}


.foods-button{
	margin-top: 10px;
	margin-left: 32%;
}





/*COLOR SWITCHER*/
.red, .blue, .pink, .green {
	height:40px;
	width: 40px;


}
.red{
	background-color: #D00000; 
}

.blue{
	background-color: #3333FF;
}

.pink {
	background-color: #FF2BB2;
}

.green {
	background-color: #32F999;
}


