/*COLOR SWITCHER*/
.red, .blue, .pink, .green {
	height:40px;
	width: 40px;


}
.red{
	background-color: #D00000; 
}

.blue{
	background-color: #3333FF;
}

.pink {
	background-color: #FF2BB2;
}

.green {
	background-color: #32F999;
}



/*Header*/


header{
  background-image: url(../img/leaves.png);
  height:164px;
}



header h1{
	text-align: center;
	font-family: 'Source Code Pro', ;
	font-size: 52px;
}

img{
	width: 300px;
	height:230px;
	text-align: center;
	margin-left: 119px;

}


h2{
	text-align: center;
}

p{
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

/* Sunscreen products/ Sun Food*/

.body-body-color {
	background-color: #FFFF99;
	height:600px;
}

.body-content h2{
	font-family: 'Source Code Pro', ;
}


.body-content img{
	    margin-left: 23%;
}


.foods-button{
	margin-top: 10px;
	margin-left: 32%;
	font-family: 'Dosis', sans-serif;

}

.fa-angle-double-down{
	margin-left: 600px;
	margin-top: 30px;
}



/*Stores*/
.stores{
	background-color: #FFF8DC;
}


.stores h3{
	text-align: center;
	font-family: 'Source Code Pro', ;

}

.stores li{
	text-decoration: none;
	list-style: none;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}


/*Articles*/

.blogs{
	padding-bottom: 50px;
	background-color: #F5FFFA;

}

.blogs h3{
	text-align: center;
	font-family: 'Source Code Pro', ;
}

.articles1 li {
	text-decoration: none;
	list-style: none;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}

.articles2 li {
	text-decoration: none;
	list-style: none;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}

/*Popcorn*/
.popcorn{
	background-color: #F5DEB3;
}

.popcorn img{
	margin-left: 42%;
	margin-top: 30px;
}
